.header {
  background-image: url(..//assets/images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.corouselBox{
  margin-bottom:-80px
}